<a href="https://colab.research.google.com/github/Rhicky2001/CPEN21A-ECE-2-2/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##For Loop

In [ ]:
week = ("Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday")
for x in week:
 print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

##Break Statements

In [ ]:

week = ("Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday")
for x in week:
 print(x)
 if x =="Thursday":
   break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [ ]:

week = ("Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday")
for x in week:
 if x =="Thursday":
   break
print(x)

Thursday

##Looping Through String

In [ ]:
for x in "Thursday":
 print(x)

T
h
u
r
s
d
a
y

##The range() function

In [ ]:
for x in range(6):
 print(x)

0
1
2
3
4
5

In [ ]:
for x in range(2,7):
 print(x)

2
3
4
5
6

##Nested Loops

In [ ]:
adjective=["red","big","tasty"]
fruits=["apple","banana","cherry"]
for x in adjective:
 for y in fruits:
  print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

##Python while Loop

In [ ]:
i=1
while i<6:
 print (i)
 i+=1 #Assignment operation for Addition

1
2
3
4
5

##The Break statement

In [ ]:

i=1
while i<6:
 print (i)
 if i==3:
  break
 i+=1 #Assignment operation for Addition

1
2
3

##The continue statement

In [ ]:
i=0
while i<6:
 i+=1
 if i==3:
  continue
 print(i)

1
2
4
5
6

##The else statement

In [ ]:

i=1
while i<6:
 print (i)
 i+=1
else:
 print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

##Application 1
###Create a python program that displays Hello 0 to Hello 10

In [ ]:
hello=["Hello"]
numbers=["1","2","3","4","5","6","7","8","9","10"]
for x in hello:
 for y in numbers:
  print(x,y)

Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

##Application 2
###Create a python program that displays an integers less than 10 but not less than 3

In [ ]:
for x in range(3,10):
 print(x)

3
4
5
6
7
8
9